@model MyApp.Models.ViewModels.CartVM
@{
    ViewData["Title"] = "Index";
}

<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      
      <div class="col-10">
      
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
            @*<p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p>*@
          </div>
        </div>
      @foreach(var item in Model.ListOfItem)
       {
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img src="@item.Product.ImageUrl"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">@item.Product.Name</p>
                <p>@Html.Raw(item.Product.Description)</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <a asp-controller="Cart" asp-action="Plus" asp-route-id="@item.id">
                  <i class="bi bi-node-plus" style='font-size:30px;'></i>
                </a>

                <input id="form1" min="0" name="quantity" value="@item.Count" 
                  class="form-control form-control-sm mx-3 my-2" />

                <a asp-controller="Cart" asp-action="Minus" asp-route-id="@item.id">
                 
                 <i class="bi bi-node-minus" style='font-size:30px;'></i>
                </a>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">Price: @item.Product.Price.ToString("00.00")</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a  class="text-danger" asp-controller="Cart" asp-action="delete" asp-route-id="@item.id"><i class="bi bi-trash"></i></a>
              </div>
            </div>
          </div>
        </div>

       }

        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
              @*<input type="text" id="form1" class="form-control form-control-lg" />*@
              <label class="form-label" for="form1">Total(INR)</label>
            </div>
            @*<button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>*@
            <span>@Model.OrderHeader.OrderTotal.ToString("c")</span>
            
          </div>
        </div>
        

       @{
             int ct=Model.ListOfItem.Count(x=>x.Count>0);
       }
     
       @if(ct!=0)
       {
         <div class="card">
          <div class="card-body">
            <a class="btn btn-warning btn-block btn-lg" asp-controller="Cart" asp-action="Summury">Proceed to Pay</a>
          </div>
         </div>
        }
       else
        {
         <div class="card">
          <div class="card-body">
            <p>Empty Cart</p>
          </div>
         </div>
                    
        }


      </div>
    </div>
  </div>
</section>

